<ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Home" icon-on="ion-ios-book" icon-off="ion-ios-book" ui-sref="tabs.home">
    <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Biography" icon-on="ion-ios-contact" icon-off="ion-ios-contact" ui-sref="tabs.biography">
    <ion-nav-view name="biography-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Calendar" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar" ui-sref="tabs.calendar">
    <ion-nav-view name="calendar-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>
